@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Balthazar&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');


$body-bg:                   #000D14;
$body-color:                #eee;

$headings-color: #95B2DB;

$theme-colors: (
        "primary": #0055C4,
        "info": #0066cc
);

$primary:                   #0055C4;
$secondary:                 #0055C4;
$info:                      #0055C4;
//$danger:                    #a02313;

$link-color:                #eee;
$link-decoration:           none;
$link-hover-color:          darken($link-color, 15%);
$link-hover-decoration:     underline;

$blockquote-small-color:    #ddd;
$code-color:                $body-color;

// Jumbotron

$jumbotron-padding:                 2rem !default;
$jumbotron-color:                   null !default;
$jumbotron-bg:                      #0E316D;

$table-head-bg:             #0055C4;
$table-head-color:          #fff;
$table-border-color:        #95B2DB;

$navbar-dark-color:                 #95B2DB;
$navbar-dark-hover-color:           #95B2DB;
$navbar-dark-active-color:          #95B2DB;
$navbar-dark-disabled-color:        rgba(#aaa, .5);

$nav-link-disabled-color:           #999;

$nav-tabs-border-color:             #95B2DB;
$nav-tabs-link-hover-border-color:  #95B2DB #95B2DB #95B2DB;
$nav-tabs-link-active-color:        #95B2DB;
$nav-tabs-link-active-bg:           transparent;
$nav-tabs-link-active-border-color: #95B2DB #95B2DB #95B2DB;

$breadcrumb-divider-color: #95B2DB;

$navbar-dark-toggler-border-color:  #95B2DB;

$dropdown-bg:               #0E316D;
$dropdown-border-color:     #95B2DB;
$dropdown-link-color:       #95B2DB;
$dropdown-link-hover-color: #ddd;
$dropdown-link-hover-bg:    #0055C4;

$hr-border-color:           #95B2DB;

$headings-font-family:      'Balthazar', serif;
$font-family-sans-serif:    'Open Sans';

$pagination-bg:             #0E316D;
$pagination-border-color:   $pagination-bg;
$pagination-hover-bg:       $pagination-bg;
$pagination-hover-border-color:     $pagination-bg;
$pagination-active-bg: #0055C4;
$pagination-disabled-color:         #bbb;
$pagination-disabled-bg:            $pagination-bg;
$pagination-disabled-border-color:  $pagination-bg;

$card-bg:                   #0E316D;
$card-cap-bg:               #0E316D;

$input-bg:                  #0055C4;
$input-disabled-bg:         #0E316D;
$input-color:               #fff;
$input-placeholder-color:   #ccc;
$custom-control-indicator-bg: #0055C4;
$input-group-addon-bg:  #0055C4;
$input-group-addon-color: #fff;

$breadcrumb-bg: #0E316D;
$breadcrumb-active-color: #95B2DB;

$accordion-bg: #0E316D;
$accordion-color: #95B2DB;
$accordion-button-active-bg: #0055C4;
$accordion-button-active-color: #ffffff;

$list-group-bg: #0E316D;
$list-group-hover-bg: #0055C4;
$list-group-action-color: #ddd;

$modal-content-bg: #0E316D;

$popover-bg: #0055C4;

$progress-bar-bg: #0055C4;
$progress-bar-color: #ddd;
$progress-bg: #0E316D;

/* Show it is fixed to the top */
body {
  margin-bottom: 60px;
  padding-top: 4.7rem !important;
}

.bg-dark {
  background: #444;
}

.footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #0E316D;
  color: #95B2DB;
}

p.lead {
  font-family: 'Balthazar', serif;
}

.blog-post-head {
  width: 100%;
  height: 300px;
  background-color: #0E316D;
  padding: 2rem;
}

.card-header {
  color: #95B2DB;
}

.card-footer {
  background-color: rgba(#000, .03) !important;
}

.btn-secondary {
  color: #ddd !important;
}

pre code {
  color: #ddd !important;
}

.form-control-plaintext {
  color: #ddd !important;
}

.badge-secondary {
  color: #fff !important;
}

.jumbotron-fluid {
  min-height: 300px !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background: #0E316D;
}

mark {
  color: #fff;
  background-color: #0E316D !important;
}

@import 'bootstrap';

.text-muted {
  color: #ccc !important;
}

a:active {
  background: inherit !important;
}

figure.wp-block-image img {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 1.5rem!important;
  display: block !important;
  height: auto;
}

span[lang="ja"] {
  font-family: 'Noto Sans JP', sans-serif;
}

svg.radical {
  stroke: #fff;
  stroke-width: 120;
  fill: none;
  stroke-linecap: square;
  stroke-miterlimit: 2;
  width: 1em;
}

.no-wrap {
  white-space: nowrap !important;
}

.jumbotron {
  padding: $jumbotron-padding ($jumbotron-padding / 2);
  margin-bottom: $jumbotron-padding;
  color: $jumbotron-color;
  background-color: $jumbotron-bg;
  @include border-radius($border-radius-lg);

  @include media-breakpoint-up(sm) {
    padding: ($jumbotron-padding * 2) $jumbotron-padding;
  }
}

.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  @include border-radius(0);
}

.navbar {
  background: #0E316D !important;
  border-bottom: 1px solid #95B2DB !important;
}

.breadcrumb-item a {
  color: #eee;
}

.card-title a {
  color: #95B2DB;
}

.sans-serif {
  font-family: "Open Sans", sans-serif !important;
}